html
  head
    title Speed Logger
    script(src="/scripts/vis/vis.min.js")
    script(src="/scripts/jquery/jquery.min.js")
    link(href="/scripts/vis/vis.min.css", rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')
  body
    div#visualization
    script(src="/scripts/main.js")


